PORT=5000
MONGO_URI=mongodb+srv://ProductDevelopment:saj123@cluster0.qkaxnyb.mongodb.net/Exams
JWT_SECRET=adaptive_exam_secure_key_2026_super_secret
ML_SERVICE_URL=http://127.0.0.1:8000
RISK_THRESHOLD=0.6
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123